* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(255, 255, 255);
    margin-top: 8px;
    text-align: center;

}

ul li {
    font-size: small;
    margin-top: 15px;
    margin-top: 15px;

}

#logo {
    text-align: center;

}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #eeeeee;
    width: 90%;
    height: 60px;

}

.center button {
    text-align: center;
    margin: auto;
    padding: auto;
}

.container {
    display: flex;
    width: 1300px;
    height: 80px;
    text-align: center;

}

.container .sol {
    width: 33.5%;
    background: rgb(126, 229, 218);
    margin-left: 68px;
    margin-top: 2px;
    text-align: center;
    padding: 10px;

}

.container .orta{
    background: #70ccc2;
    width: 17%;
    text-align: center;
    padding: 3px;
    margin-top: 2px;
    font-size: small;
    margin-left: 2px;

}

.container .sağ {
    background: rgb(98, 179, 170);
    text-align: center;
    margin-top: 2px;
    margin-left: 2px;
    width: 41.8%;
    font-size: small;
}
